@model BTRS.Models.Bus

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <hr />
    <dl class="row">
  
        <dt class="col-sm-2">
            Captain Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CptName)
        </dd>
        <dt class="col-sm-2">
            Number of Seats
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NOofSeats)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.BusId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>