@model BTRS.Models.Bus
@Html.Partial("_adminBusTop")


@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BusId" />
            <div class="form-group">
                <label asp-for="CptName" class="control-label"></label>
                <input asp-for="CptName" class="form-control" />
                <span asp-validation-for="CptName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NOofSeats" class="control-label"></label>
                <input asp-for="NOofSeats" class="form-control" />
                <span asp-validation-for="NOofSeats" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <a asp-action="Index" class="btn btn-secondary">Back</a>
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
